h1 {
    color: red;
}

.header {
    height: 25px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.links {
    display: flex;
    list-style: none;
    
    
}

.links li {
    padding: 15px;
}

.links li a {
    text-decoration: none;
}

.listaProductos {
    list-style: none;
}

.cardsProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tarjetasLapiceras {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}