br { clear:left }

.menu {
    background-color: black;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    justify-content: flex-start;
    align-content: center;
}

.menu div{
    width: 100%;
    padding: 2px;
}

.menu div a {
    text-decoration: none;
    color: grey; 
    padding: 2px;
}
 
/* .menu div a:visited {
    color: rgb(0, 0, 0);
} */
 
.menu div a:hover, .menu_simple ul li .current {
    color: rgb(0, 0, 0);
}

.links {
    display: flex;
    list-style: none; 
}

.links li {
    padding: 15px;
}

.links li a {
    text-decoration: none;
}

.listaProductos {
    list-style: none;
}

.tituloCentrado {
    text-align: center;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cardsProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cardProductoDetalle {
    text-align: center;
    border: 1px solid gray;
    width: 50rem;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

.btnVerde {
    margin: 10px;
    background-color: #8DD504 !important;
}

.tarjetasLapiceras {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.card-imgs {
    height: 380px;
    
}

.cardLapiceras {
    margin: 10px;
}

.badgeCountIcon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #D7F200;
    /* background-color: red; */
    border-radius: 300px;
}

.imageDetail {
    height: 300px;
}

.CartIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.trashIcon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    color: #D7F200 !important;
}

/* FOOTER */
/* CSS FOOTER CON BOOTSTRAP */
.bgBlack {
    background-color: black; 
}

.clBlanco {
    color: #fbfbfb !important; 
}

.linksFooter {
    list-style: none;
    padding-left: 0; 
}

.btn {
    border-color: #fbfbfb; 
}
.btn a {
        text-decoration: none;
        color: #fbfbfb; 
}

.redesFooter {
    color: #fbfbfb;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem; 
}

.marginTarjetasMovil {
    margin-top: 2rem;
    text-align: center;
    padding: 0px; 
}
    
.marginTarjetasMovil p {
    color: #fbfbfb; 
}